.info {
    background-image: url(https://tchmobileapp.s3.ap-southeast-1.amazonaws.com/storage_image/65_daxay_1366x768-%282%29.png);
    min-height: calc(100vh - 56px);
    background-repeat: no-repeat;
    background-size: 1740px 978px;
    background-position-x: calc(0px);
    height: 537px;
}

.intro {
    color: #fff;
}